@charset "utf-8";
/*--------------------------------------
全体の設定
--------------------------------------*/
body {
	color: #666;
	margin: 0px;
	padding: 0px;
	font: 14px/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	background: #fff url(ques1.jpg);
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
}
input,textarea,select {
	font-size: 14px;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 14px;
	border-spacing: 0;
}
/*--------------------------------------
ページボディ
--------------------------------------*/
#pagebody {
	background: #fff;
	width: 990px;
	margin: 30px auto 0px;
	border: 1px solid #ccc;
	padding: 30px;
	border-radius: 20px;
	box-shadow: #ccc 0px 0px 10px;
}
/*--------------------------------------
メイン画像
--------------------------------------*/
aside#maining img {
	width:100%;
	height: auto;
}
/*--------------------------------------
上部メインメニュー
--------------------------------------*/
nav#mainmenu ul li {
	float: left;
	width: 164px;
	margin-right: 1px;
}
nav#mainmenu ul li a {
	text-decoration: none;
	color: #fff;
	background: linear-gradient(#726043, #564832);
	display: block;
	text-align: center;
	padding: 5px 0px;
}
nav#mainmenu ul li a:hover {
	background: #726043;
}
/*--------------------------------------
コンテンツ（内容）
--------------------------------------*/
#contents {
	clear: left;
	padding-top: 30px;
}
#contents h2 {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 4px solid #726043;;
	border-left: 1px solid #ccc;
	font-size: 100%;
	padding: 5px 20px;
	background-image: linear-gradient(#fff, #e5e5e5);
}
/*--------------------------------------
テーブル1
--------------------------------------*/
.ta1 {
	width: 100%;
	margin-bottom: 15px;

}
.ta1, .ta1 th, .ta1 td {
	border: 1px solid #ccc;
}
.ta1 th {
	width: 180px;
	padding: 10px;
	text-align: center;
	background: #ececed;
}
.ta1 td {
	padding: 10px;
}
/*--------------------------------------
list1ボックス
--------------------------------------*/
#contents section.list1 {
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 20px;
	margin-bottom: 15px;
	background: linear-gradient(#FFF, #e3e3e3);
	box-shadow: 0px 2px 5px #CCC;
	overflow: hidden;
}
#contents section.list1 h3 {
	padding: 2px 0px 2px 10px;
	font-size: 100%;
	border-bottom: 1px solid #CCC;
	border-left: 3px solid #000;
	margin-bottom: 20px;
}
#contents section.list1 figure img {
	float: left;
	background: #FFF;
	padding: 10px;
	border: 1px solid #CCC;
	width: 40%
	height: auto;
}


/*--------------------------------------
その他
--------------------------------------*/
.md15 {
	margin-bottom: 15px;
}
.text-big {
	font-size: 30px;
}

/*--------------------------------------
トップページ
--------------------------------------*/
#new dl {
	margin: 0px 20px 0px;
}
#new dt {
	font-weight: bold;
	float: left;
	width: 8em;
}

/*--------------------------------------
フッター設定
--------------------------------------*/
footer {
	text-align: center;
	padding: 15px 0px;
}
